Cellular company/CellularCompanyClient/Client/Connected Services/ServerServiceReference/CRMService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CRMService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51610/CRMService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51610/CRMService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51610/CRMService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common.Models" />
      <xsd:import schemaLocation="http://localhost:51610/CRMService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICRMService_AddClient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddClient" />
  </wsdl:message>
  <wsdl:message name="ICRMService_AddClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddClientResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetClientTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientTypes" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetClientTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClients" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetLine_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLine" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLineResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_UpdateClient_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClient" />
  </wsdl:message>
  <wsdl:message name="ICRMService_UpdateClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClientResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetClientsIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsIds" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetClientsIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsIdsResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_RemoveClient_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveClient" />
  </wsdl:message>
  <wsdl:message name="ICRMService_RemoveClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveClientResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetLines_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLines" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetLines_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLinesResponse" />
  </wsdl:message>
  <wsdl:portType name="ICRMService">
    <wsdl:operation name="AddClient">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMService/AddClient" message="tns:ICRMService_AddClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMService/AddClientResponse" message="tns:ICRMService_AddClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMService/GetClientTypes" message="tns:ICRMService_GetClientTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMService/GetClientTypesResponse" message="tns:ICRMService_GetClientTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMService/GetClients" message="tns:ICRMService_GetClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMService/GetClientsResponse" message="tns:ICRMService_GetClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLine">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMService/GetLine" message="tns:ICRMService_GetLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMService/GetLineResponse" message="tns:ICRMService_GetLine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClient">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMService/UpdateClient" message="tns:ICRMService_UpdateClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMService/UpdateClientResponse" message="tns:ICRMService_UpdateClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientsIds">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMService/GetClientsIds" message="tns:ICRMService_GetClientsIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMService/GetClientsIdsResponse" message="tns:ICRMService_GetClientsIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveClient">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMService/RemoveClient" message="tns:ICRMService_RemoveClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMService/RemoveClientResponse" message="tns:ICRMService_RemoveClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLines">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMService/GetLines" message="tns:ICRMService_GetLines_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMService/GetLinesResponse" message="tns:ICRMService_GetLines_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICRMService" type="tns:ICRMService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddClient">
      <soap:operation soapAction="http://tempuri.org/ICRMService/AddClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientTypes">
      <soap:operation soapAction="http://tempuri.org/ICRMService/GetClientTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <soap:operation soapAction="http://tempuri.org/ICRMService/GetClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLine">
      <soap:operation soapAction="http://tempuri.org/ICRMService/GetLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClient">
      <soap:operation soapAction="http://tempuri.org/ICRMService/UpdateClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientsIds">
      <soap:operation soapAction="http://tempuri.org/ICRMService/GetClientsIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveClient">
      <soap:operation soapAction="http://tempuri.org/ICRMService/RemoveClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLines">
      <soap:operation soapAction="http://tempuri.org/ICRMService/GetLines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CRMService">
    <wsdl:port name="BasicHttpBinding_ICRMService" binding="tns:BasicHttpBinding_ICRMService">
      <soap:address location="http://localhost:51610/CRMService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>