Cellular company/CellularCompanyClient/Client/Connected Services/ServerServiceReference/CRMService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClientDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallsToCenter" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientType" nillable="true" type="tns:ClientTypeDto" />
      <xs:element minOccurs="0" name="ClientTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ContactNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientDto" nillable="true" type="tns:ClientDto" />
  <xs:complexType name="ClientTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="MinutePrice" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SMSPrice" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientTypeDto" nillable="true" type="tns:ClientTypeDto" />
  <xs:complexType name="ArrayOfClientTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientTypeDto" nillable="true" type="tns:ClientTypeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientTypeDto" nillable="true" type="tns:ArrayOfClientTypeDto" />
  <xs:complexType name="ArrayOfClientDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientDto" nillable="true" type="tns:ClientDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientDto" nillable="true" type="tns:ArrayOfClientDto" />
  <xs:complexType name="LineDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:ClientDto" />
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineId" type="xs:int" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Package" nillable="true" type="tns:PackageDto" />
      <xs:element minOccurs="0" name="PackageId" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineDto" nillable="true" type="tns:LineDto" />
  <xs:complexType name="PackageDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="PackageId" type="xs:int" />
      <xs:element minOccurs="0" name="PackageIncludes" nillable="true" type="tns:PackageIncludesDto" />
      <xs:element minOccurs="0" name="PackageIncludesId" type="xs:int" />
      <xs:element minOccurs="0" name="PackageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageTotalPrice" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageDto" nillable="true" type="tns:PackageDto" />
  <xs:complexType name="PackageIncludesDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiscountPrecentage" type="xs:double" />
      <xs:element minOccurs="0" name="FavoriteNumbersId" type="xs:int" />
      <xs:element minOccurs="0" name="FixedPrice" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IncludeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsideFamilyCalls" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxMinute" type="xs:int" />
      <xs:element minOccurs="0" name="MostCalledNumber" type="xs:boolean" />
      <xs:element minOccurs="0" name="Package" nillable="true" type="tns:PackageDto" />
      <xs:element minOccurs="0" name="PackageId" type="xs:int" />
      <xs:element minOccurs="0" name="SelectedNumber" nillable="true" type="tns:SelectedNumbersDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageIncludesDto" nillable="true" type="tns:PackageIncludesDto" />
  <xs:complexType name="SelectedNumbersDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SecondNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThirdNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectedNumbersDto" nillable="true" type="tns:SelectedNumbersDto" />
  <xs:complexType name="ArrayOfLineDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineDto" nillable="true" type="tns:LineDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLineDto" nillable="true" type="tns:ArrayOfLineDto" />
</xs:schema>