Cellular company/CellularCompany/UI/Connected Services/CRMServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClientDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallsToCenter" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientType" nillable="true" type="tns:ClientTypeDto" />
      <xs:element minOccurs="0" name="ClientTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ContactNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientDto" nillable="true" type="tns:ClientDto" />
  <xs:complexType name="ClientTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="MinutePrice" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SMSPrice" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientTypeDto" nillable="true" type="tns:ClientTypeDto" />
  <xs:complexType name="ArrayOfClientTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientTypeDto" nillable="true" type="tns:ClientTypeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientTypeDto" nillable="true" type="tns:ArrayOfClientTypeDto" />
  <xs:complexType name="ArrayOfClientDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientDto" nillable="true" type="tns:ClientDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientDto" nillable="true" type="tns:ArrayOfClientDto" />
</xs:schema>